@font-face {
  font-family: ubuntu;
  src: url(fonts/Ubuntu-Medium.ttf);
}
@font-face {
  font-family: ubuntu;
  font-weight: bold;
  src: url(fonts/Ubuntu-Bold.ttf);
}
@font-face {
  font-family: ubuntu;
  font-style: italic;
  src: url(fonts/Ubuntu-MediumItalic.ttf);
}
