<!-- plus-minus expanding buttons -->
<span ng-show="item.type == 'module'"
	ng-class="{'ion-chevron-down': item.expanded, 'ion-chevron-right symbolMargin': !item.expanded}"
	ng-click="expandModule($event, item)">
</span>

<!-- displaying item content -->
<span class="treeItem"
		ng-class="{'treeModule': item.type == 'module', 'selectedItem': item.selected}"> 
	<span class="marginFive">
		{{item.name}} 
		{{item.position? "(" + item.position + ")" : ""}}
	</span>
</span>

<!-- repeats children -->
<span ng-show="item.expanded">
	<div class="treeChild"
		ng-repeat="item in item.children" 
		ng-include="'templates/treeItem.html'" 
		ng-click="selectNode($event, item)" >
	</div>
</span>