<div ng-controller="TreeCtrl" class="treePanel">
	<div class="treeSettingsArea">
		<div class="treeAreaItem">
			<input type="text" 
				id="searchInput" 
				ng-model="searchPosition" 
				placeholder="{{'Element position' | translate}}">
			<button class="searchButton" ng-click="search()">
				<i class="ion-android-search"></i>
				{{"Search element" | translate}}
			</button>
		</div>
		<div class="treeAreaItem">
			<input type="checkbox" ng-model="isShownAsList"> {{"Show as list" | translate}}
		</div>
	</div>	
	<div class="treeArea" >
		<div ng-repeat="item in treeModel.children"
			class="treeRow"
		 	ng-include="'templates/treeItem.html'" 
		 	ng-click="selectNode($event, item)"
		 	ng-show="!isShownAsList">
		</div>
		<div ng-repeat="item in $parent.treeAsList"
			ng-click="selectNode($event, item)"
			ng-show="isShownAsList"
			ng-class="{'boldText': item.type == 'module', 'selectedItem': item.selected}"> 
			{{item.name + " (" + item.position + "); [" + item.modelValue + ']'}}
		</div>
	</div>
</div>